<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
<!-- this uses Ajax to allow web pages to send requests asynchronously to the server without leaving the page -->
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <!-- we send the followed_id to the controller using the hidden_field_tag method -->
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>