<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<ul class="users">
	<%= render @users %>
	<!-- Rails infers that @users is a list of User objects,  (a collection), hence Rails automatically iterates through
		them and renders each one with the patial by inferring the name of the partial from the name of the class -->
</ul>
<%= will_paginate %>
