<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= yield %>
    <!-- this is responsible for inserting the contents of each page into the layout through process: convert contents of the document to HTML and then inserting it in place of this tag -->
  </body>
</html>
